/* @group global */

body {
	font-family: Helvetica, arial;
	background: #fff;
}

a#avatar {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

a#avatar img {
	border: none;
}

h1 {
	color: #0094d5;
}

h2 {
	color: #43aa38;
}

a {
	color: #0094d5;
}

a:visited, a:hover {
	color: #00577e;
}

div#demo {
	float: left;
}

div#sprite {
	float: left;
	margin-left: 50px;
}

div#sprite img {
	max-height: 50px;
	max-width: 400px;
}

p#links {
	clear: both;
}

div#demo {
	position: relative;
}

/* @end */

#animation {
	height: 160px;
	width: 80px;
	background-image: url(animation.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

#spinner {
	width: 64px;
	height: 64px;
	background-image: url(spinner.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	position: absolute;
	top: 140px;
	left: 8px;
}

